.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-numbers {
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.page-numbers.current {
    background-color: #ffd700;
    color: #fff;
}

.page-numbers:hover {
    background-color: #ffd700;
    color: #fff;
}

.page-numbers.prev,
.page-numbers.next {
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.page-numbers.prev:hover,
.page-numbers.next:hover {
    background-color: #ffd700;
    color: #fff;
}

.fa-chevron-left,
.fa-chevron-right {
    margin-right: 5px;
}

.custom-card {
    width: 200px; /* Set the desired width for the cards */
}

.custom-card .card-img-top {
    width: 100%; /* Make the thumbnail fill the entire width of the card */
    height: 150px; /* Set the desired height for the thumbnails */
    object-fit: cover; /* Maintain aspect ratio while covering the entire space */
    border-radius: 8px 8px 0 0; /* Add rounded corners to the top of the thumbnail */
}